

imagine-startscherm, imagine-puzzel, imagine-score, body {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
}
imagine-startscherm {
	float: left;
	z-index: 10000001;
	background: white;
	
}

imagine-score{
    display: none;
}
imagine-puzzel {
    top: 2000px;
    transition: top 0.4s;
}
*{
-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    
    imagine-3d {
        z-index: 1000000;
    }