:host{
--imagine-puzzel-main: #E6215B;
--imagine-puzzel-mild: #f599a3;
--imagine-puzzel-kaartje: url('kaartje-sprawl.png');
}

.communicity > * {
--imagine-puzzel-main: #FFD979;
--imagine-puzzel-mild: #FFF1C9;
--imagine-puzzel-kaartje: url('kaartje-communi.png');
}